.conteudo-sobre {
    width: 95%;
}

.txt-sobre span {
    font-size: .8rem;
    letter-spacing: 3px;
}

.txt-sobre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.box-sobre {
    display: flex;
}

.txt-sobre {
    width: 45%;
    display: flex;
    flex-direction: column;      
}

.txt-sobre a {
    width: 70%;
    margin-top: 50px;
    padding: 10px 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    transition: .8s ease;
}

.txt-sobre a:hover {
    background-color: #34C2D7;
    font-weight: bold;
}

.paragrafos p {
    margin: 20px 0 0;
    display: flex;
}

.img-sobre {
    width: 55%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.img-sobre img {
    width: 48%;
    transition: scale 2s;
}

.img-sobre img:hover {
    scale: 2;
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .conteudo-sobre {
        padding: 40px 0;  
    }

    .box-sobre {
        flex-direction: column;
        text-align: center;
    }

    .txt-sobre {
        width: 100%;
        display: flex;
        flex-direction: column;  
        align-items: center;    
    }

    .paragrafos p {
        width: 85%;
        display: flex;;
        margin: 10px auto 0;
        font-size: 18px;
    }

    .txt-sobre a {
        width: 50%;
        margin: 30px auto 0;
    }

    .img-sobre {
        width: 100%;
        text-align: center;
        margin: 30px auto 0;
    }
    
    .img-sobre img {
        width: 48%;
    }
    
    .img-sobre img:hover {
        scale: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .conteudo-sobre {
        padding: 40px 0;  
    }

    .box-sobre {
        flex-direction: column;
        text-align: center;
    }

    .txt-sobre {
        width: 100%;
        display: flex;
        flex-direction: column;  
        align-items: center;    
    }

    .paragrafos p {
        margin: 10px 0 0;
        font-size: 18px;
    }

    .txt-sobre a {
        width: 50%;
        margin: 30px auto 0;
    }

    .img-sobre {
        width: 100%;
        text-align: center;
        margin: 30px auto 0;
    }
    
    .img-sobre img {
        width: 48%;
    }
    
    .img-sobre img:hover {
        scale: none;
    }
}

@media (max-width: 480px) {
    .conteudo-sobre {
        padding: 40px 0;  
    }

    .box-sobre {
        flex-direction: column;
        text-align: center;
    }

    .txt-sobre {
        width: 100%;
        display: flex;
        flex-direction: column;  
        align-items: center;    
    }

    .paragrafos p {
        margin: 10px 0 0;
        font-size: 18px;
    }

    .txt-sobre a {
        width: 50%;
        margin: 30px auto 0;
    }

    .img-sobre {
        width: 95%;
        text-align: center;
        margin: 30px auto 0;
    }
    
    .img-sobre img {
        width: 100%;
    }
    
    .img-sobre img:hover {
        scale: none;
    }
}