.conteudo-eventos {
    width: 95%;
}

.txt-eventos span {
    font-size: .8rem;
    letter-spacing: 3px;
}

.txt-eventos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#boxes_eventos {
    width: 100%;
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    /* border: 1px solid red; */
}

.box-eventos {
    width: 24%;
    /* border: 1px solid #000; */
    box-shadow: 0 0 8px 1px #000;
    text-align: center;
}

.txt-box-eventos {
    width: 100%;
}

.txt-box-eventos img {
    width: 100%;
    padding: 12px;
}

.link-eventos {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.link-eventos a {
    width: 100%;
    height: 100%;
    padding: 10px;

    text-decoration: none;
    color: #000;
    background-color: #afeef8;
    border: 1px solid #000;
    transition: .8s ease;
}

.link-eventos a:hover {
    background-color: #34C2D7;
    font-weight: bold;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .conteudo-eventos {
        display: flex;
        flex-direction: column;
    }

    .txt-eventos {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box-eventos {
        width: 30%;
        margin: 0 auto;
        flex: 1 0 auto;                                                                                                             
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .conteudo-eventos {
        display: flex;
        flex-direction: column;
    }

    .txt-eventos {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-eventos {
        width: 48%;
        margin: 0 auto;
        flex: 1 0 auto;
    }
}

@media (max-width: 480px) {
    .conteudo-eventos {
        display: flex;
        flex-direction: column;
    }

    .txt-eventos {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-eventos {
        width: 93%;
        margin: 0 auto;
    }
}