#home {
    width: 100%;
    background-image: url(assets/home.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 72.94px);
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    color: #fff;
}

.txt-home {
    margin-left: 78px;
}


#home h1 {
    font-size: 5rem;
    line-height: 65px;
}

#home p {
    width: 65%;
    margin-top: -60px;
    padding-left: 10px;

    font-size: 18px;
    font-style: italic;

    border-left: 1px solid #ffd430;
}

#home span {
    font-size: .9rem;
    font-weight: normal;

    color: #FFD430;

    position: relative;
    top: -50px;
    left: 700px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    #home {
        height: 100vh;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #home {
        height: 100vh;
    }

    #home h1 {
        font-size: 4rem;
        line-height: 70px;
        margin-bottom: 15px;
    }
    
    .txt-home {
        width: 90%;
        margin: 0 auto;
    }

    #home span {
        display: none;
    }

    #home p {
        width: 80%;
        padding-left: 15px;
        margin-top: 0px;

        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #home {
        height: 100vh;
    }

    
    #home h1 {
        font-size: 3.3rem;
        line-height: 60px;
        margin-bottom: 15px;
    }
    
    .txt-home {
        width: 90%;
        margin: 0 auto;
    }

    #home span {
        display: none;
    }

    #home p {
        width: 90%;
        padding-left: 15px;
        margin-top: 0px;

        font-size: 18px;
    }
}