.whatsapp-btn img {
    width: 30px;
    height: 30px;
}

.whatsapp-btn {
    width: 170px;
    height: 40px;

    position: fixed;
    bottom: 52px;
    right: 30px;
    
    background-color: #fff;;
    border: 1px solid #25d366;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;

    color: #000;
    z-index: 100;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}

@media (max-width: 480px) {
    .whatsapp-btn {
        display: none;
    }
}